.accordion details {
    border-bottom: 2px solid #ebebeb;
}

.accordion-item-label p {
    color: #000;
    font-size: 20px;
}

.accordion details p {
    margin-bottom: 0.8em;
}

.accordion details summary {
    position: relative;
    padding: 0 13px;
    padding-right: 46px;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    transition: background-color 0.2s;
}

.accordion details[open] {
    border-bottom: 0;
}

.accordion details summary::-webkit-details-marker {
    display: none;
}

.accordion details summary::after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    font-size: 1.25rem;
    color: #333;
    transition: content 0.2s;
}

.accordion details[open] summary::after {
    content: '-';
    font-size: 1.25rem;
    transform: translateY(-50%);
}

.accordion details .accordion-item-body {
    padding: 0 16px;
    font-size: 14px;
    line-height: 24px;
    color: #202020;
}